.my-section1 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.881) 0, rgba(0, 0, 0, 0.539) 60%, rgba(0, 0, 0, 0.662) 100%), url(images/bg1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* position: relative; */


}
/* .my-section-height{
    height: 100% !important;
    position: absolute;
    
} */
::placeholder {
    color: antiquewhite;
}

input {
    color: antiquewhite;
}

.my-hr {
    background-color: #000000;
  
    margin-top: 0;
    margin-bottom: 0;
    height: 6px;
}

.my-card {
    border: 1px solid white;
}

/* faq */
.section_padding_130 {
    padding-top: 80px;
    padding-bottom: 75px;
}

.faq_area {
    position: relative;
    /* z-index: 1; */
    background-color: black;
}

.faq-accordian {
    position: relative;
    /* z-index: 1; */
}

.faq-accordian .card {
    position: relative;
    /* z-index: 1; */
    margin-bottom: 0.6rem;
    background-color: rgb(49, 48, 48);
}

.faq-accordian .card:last-child {
    margin-bottom: 0;

}

.faq-accordian .card .card-header {
    background-color: rgb(49, 48, 48);
    padding: 0;
    border-bottom: 2px solid #141414;
    /* border-bottom-color: #212121; */
}

.faq-accordian .card .card-header h6 {
    cursor: pointer;
    font-size: 22px;
    padding: 1.55rem 2rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.faq-accordian .card .card-header h6 {
    font-size: 1.7rem;
    font-weight: 400;

}

.my-faq-text {
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
}

.faq-accordian .card .card-header h6.collapsed {
    color: white;
}

.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}

.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}
.text-muted{
    color: rgb(183, 183, 183) !important;
    font-weight: 500;
}